nav{
    display: flex;
    flex-direction:row ;
    margin: 2rem;

    .logo{
        @include flex(space-around, center, row);
        flex: 1 1 30%;
        
    }
    ul{
        @include flex(space-between, center, row);
        flex: 1 1 70%;
        
    }
}