nav{
    display: flex;
    flex-direction:row ;
    padding: 2rem;
   

    .logo{
        @include flex(flex-start, center, row);
        flex: 1 1 10%;
        
    }
    ul{
        @include flex(flex-end, center, row);
        flex: 1 1 5%;
        
    }
    a{
        font-size: $header4;
        padding: 0 1rem;
        &:hover{
            color: crimson;
        }
    }
}