$header1: 4rem;
$header2: 3rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 1.5rem;


// Color
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color:#019cb1;
$gray-text:#2c2c2c;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "global";
@import "footer";
@import "nav";




// Media query

@media screen and(max-width: 1332px) {

    html {
        font-size: 53%;
    }

    .splash {
        display: none;
    }

    svg {
        width: 80%;
    }

    nav {
        width: 100%;
    }

}

@media screen and(max-width: 754px) {

    html {
        font-size: 45%;
    }

     /* BURGER THING */
     .burger {
        position: relative;
        display: block;
        cursor: pointer;
      }
      .burger span {
        padding: 0.2rem 2rem;
        background: $background-color;
        margin: 0.5rem 0rem;
        display: block;
        transition: all 0.5s ease;
      }
      .nav-links a {
        color: white;
        font-size: $header3;
        text-decoration: underline;
      }
      .nav-links {
        background: $background-color;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
      }
    
      .nav-open {
        transform: translateX(-100%);
      }
    
      .toggle .line1 {
        transform: rotateZ(45deg) translateY(300%);
        background: white;
      }
      .toggle .line2 {
        opacity: 0;
      }
      .toggle .line3 {
        transform: rotateZ(-45deg) translateY(-300%);
        background: white;
      }
}